# =========================
# Environment
# =========================
**/.env
**/.env.local

# =========================
# Node
# =========================
**/node_modules/
**/dist/
**/coverage/

# =========================
# .NET
# =========================
**/bin/
**/obj/
**/.vs/

# =========================
# Visual Studio
# =========================
.vscode/
.idea/
*.user
*.suo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
*.sw?
